body {
  font-family: 'Inter', sans-serif !important;
}
.edit-button:hover {
  color: blue !important;
}

.delete-button:hover {
  color: red !important;
}

.fullscreen {
  height: 88vh;
}

.divider {
  color: #fefefe important;
}

.hero {
  height: 55vh;
}

.video-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container .content {
  position: relative;
  z-index: 1;
  /* Additional styles for your content */
}

.maintxt {
  position: relative;
}
.maintxt > img,
.overlay-text {
  position: absolute;
}
.overlay-text {
  padding: 150px 50px;
}
